.footer{
    display: flex;
	justify-content: center;
    align-items: center;
    background-color: whitesmoke;
	border-top: 1px rgb(255, 214, 214) solid;
	border-bottom: 1px  rgb(255, 214, 214) solid;
}
.footer > p {
    margin: 40px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(32, 32, 32);
}
