.header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: whitesmoke;
	border-top: 1px rgb(255, 214, 214) solid;
	border-bottom: 1px  rgb(255, 214, 214) solid;
}
.header > h1 {
	margin: 20px;
	font-size: 35px;
	color: red;
}
